<div class="panel-body scroll-pane" id="var-dump" style='margin-bottom: 0;'>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Data</th>
      </tr>
    </thead>
    <tbody id="var-dump-contents">
      <tr ng-hide="variableDump">
        <td colspan="3" class="text-muted" align="center"><em>No variable data avilable</em></td>
      </tr>
      <tr ng-hide="!variableDump" ng-repeat="(varname, varinfo) in variableDump">
        <td>{{varinfo.fullname}}</td>
        <td>{{varinfo.type}}</td>
        <td><code>{{varinfo.value}}</code></td>
      </tr>
    </tbody>
  </table>
</div>
