<div class="container">
  <div class="well">
    <div class="row">
      <div class="col-xs-10">
        <div><strong>README.md</strong></div>
      </div>
      <div class="col-xs-2">
        <div class="text-right"><a href="" class="main-lightblue" ng-hide="!isUserProject(currentProject)" ng-click="editReadme(currentProject)" tooltip="Edit">
          <i class="fa fa-2x fa-edit"></i>
        </a></small></div>
      </div>
    </div>
  </div>
  <div class="well">
    <div class="row">
      <div class="col-xs-10">
        <div class="markdown-render" ng-bind-html="currentProject.$readme.data"></div>
      </div>
    </div>
  </div>
</div>
